{% extends 'NavMaster.html' %}

{% block title %}Home{% endblock title %}
{% load static %}
{% block body %} 

    <!-- end header section -->
  
  
    
    <!-- product section -->
  
    <section class="product_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>
            Our Products
          </h2>
        </div>
        
        {% for product in products %}
      
        <div class="row">
          <div class="container">
          <div class="col-sm-6 col-lg-4">
            <div id={{product.id}} class="box">
              <div class="img-box">
                <img src="{{product.image.url}}" alt="">
                <form action="/#{{product.id}}" method="POST">
                  {% csrf_token %}
                  <input type="text" hidden name="product" value='{{product.id}}'>
                <input type="submit" class="add_cart_btn" style="margin-top: 45px;margin-bottom: 60px;" value="Add To Cart">
  
                </input>
              </form>
              <form action="" >
                {% csrf_token %}
                <input type="text" hidden name="product" >
              <a  href="/products/{{product.id}}" class="add_cart_btn" style="margin-top: 20px;" value="Buy Now">Buy Now</a>
  
              </a>
            </form>
              </div>
              <div class="detail-box">
                <a >
                  {{product.name}}
                </a>
                <div class="product_info">
             
                  <h5 class="price">
                    <b>₹{{product.price}}</b><p><s><b>₹{{product.PrevPrice}}</b></s></p>
                  </h5>
                
                  <div class="star_container">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     {% endfor %}
      
      <div class="btn_box">
        <a class="view_more-link">
          View More
        </a>
      </div>
    </div>
  </section>
  
  <!-- end product section -->
  
  
  <!-- info section -->

 

  {% endblock body %}
